1 AkAtu Roll/Emu 2 733 900 19 → 103,8  <a target='_blank' href='https://www.youtube.com/watch?v=0JX9rnJSRrc'>Video</a>
2 MörköS DAS/NES 1 084 860 18 → 43,2  <a target='_blank' href='https://youtu.be/3rp_4LIGv4s?si=G8I6KYmFsLT_rdIu'>Video</a>
3 janutzska DAS/NES 782 880 18 → 28,9  <a target='_blank' href='https://www.youtube.com/watch?v=eQWkw4Y1YbM'>Video</a>
4 Akideemus DAS/NES 753 787 18 → 21,3  <a target='_blank' href='https://www.youtube.com/watch?v=KGy5fM09M0E'>Video</a>
5 Hezzuli DAS/NES 720 506 18 → 19,9  <a target='_blank' href='https://www.youtube.com/watch?v=JtE-QwaNgno'>Video</a>
6 Kdenye DAS/NES 716 960 18 → 23,2  <a target='_blank' href='https://youtu.be/9vHpK_1chmM?t=457'>Video</a>
7 DDWW ???/??? 710 738 9 → 19,8 Video
8 Iivari DAS/NES 702 302 18 → 20,0  <a target='_blank' href='https://www.youtube.com/watch?v=P4RkgkFNrBE'>Video</a>
9 Deewee TAP/NES 680 120 18 → 19,7  <a target='_blank' href='https://youtu.be/A-as6-A9Irc'>Video</a>
10 Hepta DAS/Emu 679 240 18 → 19,6  <a target='_blank' href='https://www.youtube.com/watch?v=EEJfHR3F3xo'>Video</a>
11 MiisaStarwise DAS/NES 660 780 18 → 19,7  <a target='_blank' href='https://www.twitch.tv/videos/1191984623'>Video</a>
12 M16 DAS/NES 658 640 18 → 19,0 Kuva
13 jellonaviina DAS/NES 656 660 18 → 20,4  <a target='_blank' href='https://www.youtube.com/watch?v=nJ6pAUD58l8'>Video</a>
14 -JJ DAS/NES 652 700 9 → 19,2  <a target='_blank' href='https://www.twitch.tv/videos/423378881'>Video</a>
15 EggMan ???/NES 652 580 18 → 22,3  <a target='_blank' href='https://www.twitch.tv/videos/973695274'>Video</a>
16 Tuomas N DAS/??? 644 540 18 → 19,8 Kuva
17 Sami T DAS/NES 633 710 9 → 19,X Kuva
18 Sami N DAS/NES 624 663 9 → 19,X Kuva
19 Dede DAS/NES 618 342 X → XX,X Kuva
20 Otso DAS/AVS 616 319 9 → 19,5  <a target='_blank' href='https://www.twitch.tv/videos/1185707040'>Video</a>
21 sirteplus DAS/NES 601 200 9 → 19,2 Kuva
22 Jimisu DAS/??? 596 155 11 → 19,3 Kuva
23 Oona DAS/NES 581 727 9 → 19,X –
24 Allu DAS/NES 562 080 18 → 19,3 Kuva
25 T DAS/??? 560 029 9 → 19,X Kuva
26 Dodo DAS/NES 542 601 11 → 19,2  <a target='_blank' href='https://www.twitch.tv/videos/549328912'>Video</a>
27 Tanja DAS/NES 540 097 9 → 19,X –
28 ekkhou DAS/NES 539 598 11 → 20,4  <a target='_blank' href='https://www.twitch.tv/videos/829330096'>Video</a>
29 bimfin DAS/NES 510 000 9 → XX,X Live
30 Paolo DAS/NES 496 898 9 → XX,X Kuva
31 M-J DAS/NES 488 872 X → XX,X –
32 Emppu DAS/??? 451 529 X → 18,X Kuva
33 Henriikka DAS/??? 429 330 15 → 18,X Kuva
34 Luukas DAS/NES 420 740 11 → 17,7  <a target='_blank' href='https://www.twitch.tv/videos/514755883'>Video</a>
35 Eetu DAS/??? 419 920 X → XX,X Kuva
36 Tuure_P DAS/??? 414 180 X → 18,X Kuva
37 Oskari DAS/NES 356 011 X → XX,X Live
38 Aleksi DAS/??? 344 862 9 → 16,X –
39 Mspara DAS/NES 336 043 11 → 17,X Kuva
40 Ville DAS/NES 315 726 X → XX,X Live
